### Java template
# Compiled class file
*.class

# Package Files #
*.jar
*.war

target
!.mvn/wrapper/maven-wrapper.jar

# STS #
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA #
.idea
*.iws
*.iml
*.ipr
/src/main/resources/application.yml
/src/main/resources/application-local-cdeac.yml
